<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layouts</title>
    <link rel="stylesheet" href="5.css">
</head>
<body>
    <ul>
        <li><a href="Home.html">Home</a></li>
        <li><a href="SelfHelp.html">Self help</a></li>
        <li><a href="DailyTasks.html">Daily Tasks</a></li>
        <li><a href="VoiceSpaces.html">Voice Spaces</a></li>
    </ul>
    <h1 style="color: white
    ;">Blog on social Anxiety</h1>
    <div class="cards">

        <div class="card">
            <img class="card-img"
                src="../images/SAD-photo-min.jpeg"
                alt="cake">
            <div class="card-text">
                
                <a href="https://nationalsocialanxietycenter.com/2022/08/18/overcoming-social-anxiety-by-embracing-uncertainty/"><h2>OVERCOMING SOCIAL ANXIETY BY EMBRACING UNCERTAINTY</h2></a>
               
            </div>
        </div>
    
        <div class="card">
            <img class="card-img"
                src="../images/eve.jpg"
                alt="cake">
            <div class="card-text">
                
                <a href="https://nationalsocialanxietycenter.com/2022/10/18/post-event-processing-when-social-anxiety-ruins-a-great-evening/"><h2>WHEN SOCIAL ANXIETY RUINS A GREAT EVENING</h2></a>
                
            </div>
        </div>
        <div class="card">
            <img class="card-img"
                src="../images/socialanxietyhndcuff.jpg"
                alt="cake">
            <div class="card-text">
                
                <a href="https://nationalsocialanxietycenter.com/2022/05/18/effective-experimental-approach/"><h2>WANNA OVERCOME YOUR SOCIAL ANXIETY ?</h2></a>
            </div>
        
        </div>
    
        <div class="card">
            <img class="card-img"
                src="../images/objective.jpeg"
                alt="cake">
            <div class="card-text">
                
                <a href="https://nationalsocialanxietycenter.com/2022/04/25/is-social-anxiety-objective/"><h2>IS SOCIAL ANXIETY OBJECTIVE?</h2></a>
               
            </div>
        </div>
        <div class="card">
            <img class="card-img"
                src="../images/avoidence.jpeg"
                alt="cake">
            <div class="card-text">
                
                <a href="https://nationalsocialanxietycenter.com/2021/09/15/overcome-social-anxiety-by-reducing-your-avoidance-modes/"><h2>OVERCOME SOCIAL ANXIETY BY REDUCING YOUR AVOIDANCE MODES</h2></a>
               
            </div>
        </div>
        <div class="card">
            <img class="card-img"
                src="../images/nights.jpg"
                alt="cake">
            <div class="card-text">
                
                <a href="https://nationalsocialanxietycenter.com/2021/10/15/does-your-social-anxiety-keep-you-up-at-night/"><h2>DOES YOUR SOCIAL ANXIETY KEEP YOU UP AT NIGHT?</h2></a>
               
            </div>
        </div>
</body>
</html>