<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layouts</title>
    <link rel="stylesheet" href="DailyTasks.css">
</head>
<body>
    <ul>
        <li><a href="Home.html">Home</a></li>
        <li><a href="SelfHelp.html">Self help</a></li>
        <li><a href="Blog.html">Blog</a></li>
        <li><a href="VoiceSpaces.html">Voice Spaces</a></li>
    </ul>

    <section class="wrapper">
        <figure class="card">
            <h2 style="color: crimson;">Day 1</h2>
            <h3>Login</h3>
            <h3>Watch one Self-Help video</h3>
            <h3>Get Ready for Day 2</h3>
        </figure>
        <figure class="card">
            <h2 style="color: crimson;">Day 2</h2>
            <h3>Login</h3>
            <h3>Watch one Voice Speeches</h3>
            <h3>Get Ready for Day 3</h3>
        </figure>
        <figure class="card">
            <h2 style="color: crimson;">Day 3</h2>
            <h3>Login</h3>
            <h3>Read one Blog</h3>
            <h3>Get Ready for Day 1 again</h3>
        </figure>
    </section>

</body>
</html>