<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layouts</title>
    <link rel="stylesheet" href="Home.css">
</head>
<body>
    <ul>
        <li><a href="SelfHelp.html">Self Help</a></li>
        <li><a href="DailyTasks.html">Daily Tasks</a></li>
        <li><a href="Blog.html">Blog</a></li>
        <li><a href="VoiceSpaces.html">Voice Spaces</a></li>
    </ul>
    <svg viewBox="0 0 1800 1300">
        <symbol id="s-text">
          <text text-anchor="middle"
                x="50%"
                y="70%"
                class="" 
                >
            Social Anxiety
          </text>
          
        </symbol>
        
        <g class="g-ants">
          <use xlink:href="#s-text"
            class="text-copy"></use>     
          <use xlink:href="#s-text"
            class="text-copy"></use>     
          <use xlink:href="#s-text"
            class="text-copy"></use>     
          <use xlink:href="#s-text"
            class="text-copy"></use>     
          <use xlink:href="#s-text"
            class="text-copy"></use>     
        </g>
      </svg>
</body>
</html>