ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: whitesmoke;
    padding:30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li{
    margin-left: 50px;
    margin-right: 50px;
}

img{
    overflow: hidden;
    border-radius: 50%;
    width:150px;
    height: 150px;
}
body{
    background-image: url("../images/pexels-jessica-ticozzelli-5670759.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
iframe{
    margin-left: 23%;
    width: 60%;
    margin-bottom: 5%;
}
h1
{
    text-align: center;
    text-decoration: solid;
}