<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layouts</title>
    <link rel="stylesheet" href="moti.css">
</head>
<body>
    <ul>
        <li><a href="SelfHelp.html">Self help</a></li>
        <li><a href="DailyTasks.html">Daily Tasks</a></li>
        <li><a href="Blog.html">Blog</a></li>
        <li><a href="VoiceSpaces.html">Voice Spaces</a></li>
    </ul>
    <h1>Motivational videos</h1>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rdh1EXaeEx8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kdXa4J_lKcY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PNAkSTpUbb8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/J3dxSURUw2o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
 
</body>
</html>