<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="SelfHelp.css">
</head>
<body>
    <ul>
        <li><a href="Home.html">Home</a></li>
        <li><a href="DailyTasks.html">Daily Tasks</a></li>
        <li><a href="Blog.html">Blog</a></li>
        <li><a href="VoiceSpaces.html">Voice Spaces</a></li>
    </ul>
    <h1 style="text-align: center; color: white;">
        Motivational speakers
    </h1>
    

   <div class="cards">

    <div class="card">
        <img class="card-img"
            src="../images/sadguru.jpeg"
            alt="cake">
        <div class="card-text">
            
            <a href="sadguru.html"><h2>Jagadish Vasudev
                (Sadhguru)</h2></a>
           
        </div>
    </div>

    <div class="card">
        <img class="card-img"
            src="../images/sandeep_mah.jpg"
            alt="cake">
        <div class="card-text">
            
            <a href="sandeep.html"><h2>Sandeep maheshwari</h2></a>
            
        </div>
    </div>
    <div class="card">
        <img class="card-img"
            src="../images/Dr.-Vivek-Bindra-2.jpg"
            alt="cake">
        <div class="card-text">
            
            <a href="vivek.html"><h2>Dr.Vivek Bindra </h2></a>
        </div>
    
    </div>

    <div class="card">
        <img class="card-img"
            src="../images/shiv-khera.jpg"
            alt="cake">
        <div class="card-text">
            
            <a href="shiv.html"><h2>Mr.Shiv Khera  .</h2></a>
           
        </div>
    </div>

</div>

</body>
</html>