<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layouts</title>
    <link rel="stylesheet" href="moti.css">
</head>
<body>
    <ul>
        <li><a href="Home.html">Home</a></li>
        <li><a href="SelfHelp.html">Self help</a></li>
        <li><a href="DailyTasks.html">Daily Tasks</a></li>
        <li><a href="Blog.html">Blog</a></li>
    </ul>
    <h1>Motivational Speeches</h1>
    <div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4hfPKQ8UGZqkVDqcI3FNGC?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/7FGV9tNLA1V7aU6QUCSv0j?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3M6JBSAsO4oFlsFd3rqsLc?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> -->
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/33D0hK6o8ruPT5pJ1z0IR4?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>   
    </div>
</body>
</html>